 body{
            margin:0;
            height:100vh;
            display:flex;
            justify-content:center;
            align-items:center;
            background:#5227c0;
        }

.clock{
            background:white;
            padding:20px 30px;
            border:2px solid black;
            border-radius:10px;
            font-family:Arial, sans-serif;
            font-size:40px;
            font-weight:bold;
        }
    